* {
  box-sizing: border-box;
}

:root {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --clr-sea-green: hsl(300, 50%, 0%);
  --clr-sky-blue: hsl(207, 82%, 41%);
  --clr-dark-blue: hsl(237, 82%, 41%);
  --clr-purple: hsl(267, 82%, 41%);
  --clr-magenta: hsl(297, 82%, 41%);
  --clr-crimson: hsl(327, 82%, 41%);
}

a {
  font-weight: 500;
  color: lightseagreen;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
